<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{request.static_url('ej_kenwin:static/home/css/home.css')}}">
    <title>Home example Kenwin</title>
  </head>

  <body>
      <h3></h3>
       <script src="{{request.static_url('ej_kenwin:static/home/js/home.js')}}"></script> 
  </body>
</html>
